body,
.App {
  background-color: #282c34;
}

.App {
  margin-top: -50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 40px;

  &__link {
    color: #f19837;
  }

  &__logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  &__description,
  &__title {
    text-align: center;
  }

  &__footer {
    bottom: 0;
    font-size: 14px;
    padding: 20px;
    position: absolute;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .App {
    margin-top: unset;
    padding: unset;

    &__logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &__description {
      position: relative;
      padding-left: 120px;
    }
  }
}
