.Navbar {
  align-items: center;
  background-color: #222;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__logo {
    flex-grow: 1;
    fill: white;
    height: 30px;
  }

  &__language {
    border: unset;
    color: white;
    cursor: pointer;
    background-color: unset;
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.06);
    }
  }
}
